.a { 
    text-decoration: none; 
    color: white;
}
.a:visited { 
    text-decoration: none;
 }
.a:hover { 
    text-decoration: none;
    color: white; 
}
.a:focus { 
    text-decoration: none;
 }
.a:hover, .a:active { 
    text-decoration: none; 
}

.b{
    background-color: transparent;
    border: none;
    color:white;
    margin-left: 10px
}

.modal{
    background-color: rgba(97, 96, 96, 0.4);
    font-size: 1rem;
    font-family: "Pacifico", cursive;
    color: #fff
}
