.a { 
    text-decoration: none; 
    color: white;
}
.a:visited { 
    text-decoration: none;
 }
.a:hover { 
    text-decoration: none;
    color: white; 
}
.a:focus { 
    text-decoration: none;
 }
.a:hover, .a:active { 
    text-decoration: none; 
}

.b{
    background-color: transparent;
    border: none;
    color:white;
    margin-left: 10px
}

.react-responsive-modal-modal{
    font-family: "Pacifico", cursive;
}

.react-responsive-modal-modal > h2 {
   color: #383838;
   font-size: 2rem;
   margin-top: 15px;
}

.btn {
    background: linear-gradient(
      90deg,
      rgb(235, 12, 255) 0%,
      rgb(126, 2, 143) 150%
    );
    color: #383838;
    margin-left: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #383838;
}
