footer > a {
    text-decoration: none;
    padding: 0 10px;
    text-decoration: none;
    color: rgb(97, 96, 96);
  }
  
  footer {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: rgb(97, 96, 96);
    font-family: "Pacifico", cursive;
    margin-top: 32px
  }

  footer > a:hover{
    text-decoration: none;
    color: rgb(97, 96, 96);
  }